{% extends 'base.html.twig' %}
{% block body %}
    {%  include 'menu.html.twig' %}
    {% if not adverts %}
        <p style="padding: 200px 100px; font-size: 2em; font-weight: 800;">Nie znaleziono ogłoszeń!</p>
    {% else %}
        {% for flash_message in app.session.flashBag.get('deleteSuccess') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('deleteError') %}
               <div class="alert alert-danger">
                     {{ flash_message }}
               </div>
        {% endfor %}
        <div style="padding-top: 100px;">
            {% for advert in adverts %}
                <div class="advert-container">
                    <div class="container-title">{{advert.title }}</div>
                    <img class="container-img" src="{{ asset("uploads/photos/admin/" ~ advert.photo) }}" alt="photo image">
                    <div class="container-date"><span class="glyphicon glyphicon-calendar calendar"></span>Published: <em>{{ advert.dateAdded|date('Y-m-d') }}</em></div>
                    <div class="container-options">
                        <a style="display: inline;" href="{{ path('advert', {'id': advert.id}) }}"><button style="font-size: 0.9em;" title="display advert" type="button" class="btn btn-info">Pokaż</button></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a style="display: inline;" href="{{ path('block_advert', {'userId': userId, 'advert': advert.id}) }}">
                                <button style="font-size: 0.9em;" class="btn btn-success">
                                {% if advert.blocked %}
                                    Odblokuj
                                {% else %}
                                    Zablokuj
                                {% endif %}
                                </button>
                            </a>
                        {% endif %}
                        <a href="{{ path('advert_public', {'advertId':advert.id})}}"><button title="zmień widoczność ogłoszenia" style="width: 25x; height: 25px;" type="button" class="btn btn-warning">
                             {% if advert.public %}
                                <span id="eyeIcon{{ advert.id }}" style="font-size: 12px;" class="glyphicon glyphicon-eye-open"></span>
                             {% else %}
                                <span id="eyeIcon{{ advert.id }}" style="font-size: 12px;" class="glyphicon glyphicon-eye-close"></span>
                             {% endif %}
                        </button></a>
                        <button  onclick="deleteAdvert({{ advert.id }}, {{userId}})" class="btn btn-danger">
                             <span title="delete advert" style="font-size: 12px;" id="trashIcon{{ advert.id }}" class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div  style="margin-left: 45%; margin-bottom: 200px;">
             <nav>
               <ul class="pagination">
                   {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                     {% for i in range(1, page_number) %}
                         <li style="font-size: 1.4em; margin-top: 40px;" class="page-item">
                             <a id="page{{ i }}" class="page-link" href="{{ path('user_adverts', {'page':i }) }}">{{ i }}</a>
                         </li>
                     {% endfor %}
                   {% else %}
                        {% for i in range(1, page_number) %}
                             <li style="font-size: 1.4em; margin-top: 40px;" class="page-item">
                                 <a id="page{{ i }}" class="page-link" href="{{ path('admin_user_adverts', {'userId':userId, 'page':i }) }}">{{ i }}</a>
                             </li>
                        {% endfor %}
                   {% endif %}
               </ul>
             </nav>
        </div>
    {% endif %}
    <script type="text/javascript">
         var id = window.location.href.split("/").slice(-1)[0];
         var pageNumber = document.getElementById('page' + id);
         pageNumber.classList.add('pagination-active');
    </script>
{% endblock %}