{% extends 'base.html.twig' %}
{% block body %}
     {% include 'menu.html.twig' %}
    <div class="notification-panel" style="background-color: #c3e6cb;">
        <h2 style="font-size: 1.2em;">Historia przesanych powiadomień</h2>
    </div>
    {% for notification in notifications %}
        <div style="height: 100px;" class="alert alert-success notification" role="alert">
            <strong>{{ notification.title }}</strong>
            <span style="float: right; text-align: right;">
                <strong>{{ notification.date|date('Y-m-d') }}</strong><br/>
                <strong>Użytkownik: {{ notification.user.name }} {{ notification.user.surname }}</strong><br/>
                <strong> Administrator: {{ notification.admin.name }} {{ notification.admin.surname }}</strong><br/>
            </span><br/>
            {{ notification.description }}
        </div>
    {% endfor %}

{% endblock %}